<table class="table">
  <tr>
    <th>Name</th>
    <th>Completed</th>
  </tr>

  {{#each this.pagedContent as |content|}}
    <tr class="todo">
      <td>{{content.name}}</td>
      <td>
        <Input @type="checkbox" @checked={{content.completed}} />
      </td>
    </tr>
  {{/each}}
</table>

<PageNumbers @content={{this.pagedContent}} />

<button {{on "click" this.save}}>Save</button>

<div class="numRemoteCalls">
  {{this.pagedContent.numRemoteCalls}}
</div>