<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.pagedContent as |content|}}
      <tr class='todo'>
        <td>{{content.name}}</td>
        <td>
          <Input @type='checkbox' @checked={{content.completed}} />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<PageNumbers @content={{this.pagedContent}} />

<button type='button' class="btn btn-primary" {{on 'click' this.save}}>Save</button>

<div class='numRemoteCalls'>
  {{this.pagedContent.numRemoteCalls}}
</div>