<div id="sortByField">
  {{input type="text" value=sortByField}}
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Completed</th>
  </tr>

  {{#each content as |content|}}
    <tr class="todo">
      <td class="name">{{content.name}}</td>
      <td>
        {{input type="checkbox" checked=content.completed}}
      </td>
    </tr>
  {{/each}}
</table>

{{page-numbers content=content}}

<button {{action "save"}}>Save</button>

<div class="numRemoteCalls">
  {{content.numRemoteCalls}}
</div>

{{outlet}}
