<table class='table'>
  <tr>
    <th>Name</th>
    <th>Completed</th>
  </tr>

  {{#each model as |content|}}
    <tr class='todo'>
      <td>{{content.name}}</td>
      <td>
        <Input @type='checkbox' @checked={{content.completed}} />
      </td>
    </tr>
  {{/each}}
</table>

<PageNumbers @content={{model}} />

<button type='button' {{action 'save'}}>Save</button>

<div class='numRemoteCalls'>
  {{model.numRemoteCalls}}
</div>

{{outlet}}